body {
  font-family: "Raleway", sans-serif;
  background-image: none;
  background-color: #102531;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}
.test-container {
  width: 900px;
  position: relative;
  margin: 0 auto;
}
.timer {
  width: 100%;
  height: 4.5px;
  background-color: #55b1fc;
  top: 0;
  left: 0;
  transition: 0.2s;
}
.output {
  font-size: 25px;
  position: relative;
  font-weight: bold;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  height: 110px;
  overflow: hidden;
  margin-top: 60px;
  line-height: 25px;
  padding: 10px 0;
  background-color: #1b1e21;
}
.word {
  margin-bottom: 5px;
}
.word,
.word-letter {
  position: relative;
  transition: 0.2s;
}
.word-letter-anim::before {
  position: absolute;
  content: "";
  background-color: rgba(85, 177, 252, 0.2);
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  animation: grow 0.2s 1;
}
@keyframes grow {
  0% {
  }
  100% {
    height: 100%;
  }
}
.word-input {
  display: flex;
  color: #202326;
  border: 1px solid #1b1e21;
}
.refresh {
  outline: none;
  border: none;
  background-color: #55b1fc;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  flex: 1;
  transition: 0.2s;
}
.word-line {
  padding-bottom: 8px;
  width: calc(100% - 12px);
  margin: 0 auto;
}
.type-word {
  flex: 15;
  width: calc(100% - 70px);
  border: none;
  padding: 5px;
  outline: none;
  background-color: #151719;
  font-size: 25px;
  font-weight: bold;
  color: #cfcfcf;
}
.count-down {
  flex: 1;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  background-color: #151719;
  font-size: 14px;
  color: #fff;
}

.result {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.count-down {
  font-weight: 600;
}

.card {
  min-width: 300px;
  margin: 35px 0;
  background: #1b1e21;
  color: white;
}

.card_header span {
  display: block;
  height: 5px;
}

.card_header {
  height: 45px;
  background-color: #151719;
  border-radius: 5px;
  text-align: center;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

.social-icons a {
  display: block;
  margin: 0 10px;
  font-size: 24px;
  color: black;
  transition: color 0.2s ease-in-out;
}

.fa-facebook:hover {
  color: #1877f2; /* Facebook brand color */
}

.fa-twitter:hover {
  color: #1da1f2; /* Twitter brand color */
}

.fa-envelope:hover {
  color: #ed1200; /* Gmail/Email brand color */
}

/* .card_btn_holder {
  text-align: -webkit-center;
}

.card_btn_holder button {
  border: none;
  margin: -1px 0 15px 0;
  border-radius: 3px;
  text-decoration: none;
}

.card_btn_holder button:hover {
  background: rgb(255 165 0 / 75%);
}

.card_btn_holder a {
  text-decoration: none;
} */

.typing-div {
  background-color: #1b1e21; /* Orange background color */
  color: #fff; /* White text color */
  border-radius: 20px; /* Curved border */
  padding: 20px; /* Add some padding to the content */
  text-align: center; /* Center the content */
  margin: 25px 0 0 0;
  max-width: 900px;
}

.typing-div h1 {
  overflow: hidden; /* Hide the text initially */
  border-right: 0.15em solid #fff; /* Add a solid white line as a cursor */
  white-space: nowrap; /* Prevent the text from wrapping */
  margin: 0 auto; /* Center the text */
  letter-spacing: 0.15em; /* Add some spacing between the characters */
  animation: typing 1.5s steps(20, end), blink-caret 0.5s step-end infinite; /* Animation to simulate typing */
  font-size: 20px;
}

/* Animation to simulate typing */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Animation to simulate blinking cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}
